accelerate==1.9.0
beartype==0.21.0
CoLT5-attention==0.11.1
einops==0.8.1
einx==0.3.0
ftfy==6.3.1
imgaug==0.4.0
matplotlib==3.9.0
numpy==2.2.6
opencv-python==4.12.0.88
openTSNE==1.0.2
packaging==24.0
pandas==2.3.1
Pillow==10.3.0
regex==2024.11.6
scikit-learn==1.7.1
tensorboard==2.16.2
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
